<div class="container" id="devmanager" style="width:100%;height:100%;">
    <!-- <h1>设备管理</h1>-->

    <div id="toolbardev" class="input-group">
        <ol id="breadcrumb" class="breadcrumb">
            <li id="alldev"><a onclick="clickquerychilddev(event)" value="" class="active">所有设备</a></li>
        </ol>
        <a class="createdev btn btn-success" href="javascript:" style="display: none;">添加</a>
        <!--<button id="buttondelete" class="btn btn-danger">删除</button>-->
        <span class="alertdev" style="display: none;"></span>
    </div>
    <table id="deviceTable"
           data-toolbar="#toolbardev"
           data-show-refresh="true"
           data-show-columns="true"
           data-show-toggle="true"
           data-search="false"
           data-pagination="true"
           data-side-pagination="server"
           data-page-size="10"
           data-page-number="1"
           data-page-list="[10,25,50,100,200]"
           data-query-params="queryParamsdev"
           class="table table-striped">
        <thead>
        <tr>
            <th data-field="" data-formatter="IdFormatter">序号</th>
            <th data-field="device_name" class="col-md-2">名称</th>
            <th data-field="typeName">类型</th>
            <th data-field="business_id" class="col-md-2">设备编码</th>
            <th data-field="parentName" class="col-md-2">父设备</th>
            <th data-field="descriptions" >设备描述</th>
            <th class="col-md-3" data-align="center" data-formatter="devdetailFormatter" data-events="detailactionEvents">操作</th>
        </tr>
        </thead>
    </table>
</div>

<div id="modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modaltitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group" style="display:none;">
                        <label class="control-label col-sm-2">设备ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control " name="input_devID" placeholder="设备ID" readonly />
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="control-label col-sm-2">设备编码</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control " name="input_business_id" placeholder="设备编码" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">父设备</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control " name="input_parentname" placeholder="父设备" readonly />
                        </div>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label class="control-label col-sm-2">父设备ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control " name="input_parentid" placeholder="父设备id" readonly />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-sm-2">设备名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control  " name="input_name" placeholder="名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">设备类型</label>
                        <div class="col-sm-9">
                            <select id="dropdownGropRoots" class="input-large form-control" required="required">
                                <option value="">选择设备类型</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-sm-2">设备描述</label>
                        <div class="col-sm-9">
                            <textarea rows="3" class="form-control  " name="input_descriptions" placeholder="描述" style="resize: none"></textarea>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary submit">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ModelConfig" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="configModaltitle" class="modal-title">参数配置</h4>
            </div>
            <div class="modal-body">
                <form id="conifgFrom" class="form-horizontal">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary configsubmit">提交</button>
            </div>
        </div>
    </div>
</div>